body {
    background-image: url(8084.jpg);
    background-size: 786px 550px;
}

footer {
    font-family: monospace;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
}

h1 {
    color: #fff;
    font-family: monospace;
}

div {
    text-align: center;
}

p {
    list-style-type: none;
    margin-top: 25px;
    font-family: sans-serif;
}

p button {
    display: inline-block;
    border: none;
    border-radius: 12px;
    background-color: blue;
    padding: 9px 10px;
}

p button a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.4s;
}

p button a:hover {
    color: #000;
}

p button.active a {
    color: #000;
}